.alright
{
    grid-column: 3;
    grid-row: 2;
    font-family: sub_header;
    text-align: center;
    width: 100%;
    height: auto;
    transition: all .7s ease-in-out;
}

.alright p{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.alrightDesc
{
    font-size: .7em;
    text-align: center;
    color: #E5E5E5;
    grid-row: 2;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.alright:hover
{
    background-color: #353535;
    opacity: 1;
    box-shadow: 0 8px 6px -6px black;

}

.alrightInvert
{
    transition: all .7s ease-in-out;
}

.alright:hover .alrightInvert
{
    filter: invert(100%);
    transition-duration: .7s ease-in-out;
}
.alright:hover .alrightDesc
{
    opacity: 1;
}

