.u
{
    grid-column: 4;
    grid-row: 2;
    font-family: sub_header;
    text-align: center;
    width: 100%;
    height: auto;
    transition: all .7s ease-in-out;
}

.u p{
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.uDesc
{
    font-size: .7em;
    text-align: center;
    color: #E5E5E5;
    grid-row: 2;
}

.u:hover
{
    background-color: #353535;

}

.uInvert
{
    transition: all .7s ease-in-out;
}

.u:hover .uInvert
{
    filter: invert(100%);
    transition-duration: .7s ease-in-out;
}