@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
@font-face {
	font-family: header;
	src: url("../fonts/colors_of_autumn.ttf") format("truetype"),
}
@font-face {
    font-family: sub_header;
    src: url("../fonts/aqua.ttf") format("truetype");
}
