@import '_vars';
@import '_arrow';
@import '_trackIcon';
@import '_wesley';
@import '_free';
@import '_king';
@import '_lyrics';
@import '_inst';
@import '_walls';
@import '_u';
@import '_alright';
@import '_sale';
@import '_momma';
@import '_politics';
@import '_dollar';
@import '_complexion';
@import '_berry';
@import '_lie';
@import '_i';
@import '_mortal';


.hide
{
    display: none;
}

h1{
    font-family: header;
    text-align: center;
    overflow: hidden;
}


.mainTitle
{
    font-size: 1.4em;
    color: rgb(161, 161, 161);
}

.kendrick{
    font-family: header;
    text-align: center;
    font-size: .75em;
    color: grey;
}

body
{
    background-color: rgb(36, 36, 36);
    border: 5vw solid black;
    width: 90%;
    height: 100%;
    overflow-x: hidden;
    z-index: -50;
    
}

.moth_container
{
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding-top: 14rem;
    margin-bottom: 3em;
}

#moth_svg
{
    fill: rgb(236, 236, 236);
}

.page_2
{
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url(../images/SVG/SVG/Inkblot.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: visible;
}

// tracklist start


.tracklist 
{
    font-family: header;
    text-align: center;
    font-size: .75em;
    padding-top: 3em;
    color: grey;
    margin-bottom: 20vw;
}


.tracklistTitle
{
    color: white;
}


#particles-js
{
    height: 100%;
    position: absolute;
    z-index: 0;
}

// act 1

.act1
{
    display: grid;
    grid-template-columns: 1px auto 400px auto 1px;
    grid-template-rows: 25% 25% auto;
    scroll-snap-destination: 100%;
    
}





.act1Title
{
    grid-column: 3;
    font-size: 25vw;
    z-index: -10;
    position: absolute;
    align-content: center;
    text-align: center;
    width: 90vw;
    margin-bottom: 200px;
    overflow: auto;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;  
}

.act2Title
{
    grid-column: 3;
    font-size: 18vw;
    z-index: -10;
    position: absolute;
    align-content: center;
    text-align: center;
    width: 90vw;
    overflow: auto;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;  /* Need a specific value to work */
}


.feature
{
    font-size: .55em;
    font-weight: 100;
    line-height: .2em;
    color: rgb(75, 75, 75);
}

//poem
.poem1
{
    grid-template-columns: 30% 40% 30%;
    font-family: sub_header;
    text-align: center;
    font-size: .5em;
    margin-top: 50px;
    line-height: 100px;
    color: rgb(231, 231, 231);
}

.blk
{
    background-color: #535353;
    grid-column: 3;
    opacity: .4;
    
}

